body{
    background: linear-gradient(56deg, #ffffff 20%, #e3e3e3 60%, #c6ffe8 100%);

}

/* .box {
display: flex;
justify-content: center;
width: 100%;
} */

.myTableStyle{
width: 100%;
}
.myTableStyle thead{
background: linear-gradient(56deg, #c4ff02 20%,  #00eaff 100%);
}
.myTableStyle thead{
text-align: center;
}

.myTableStyle td {
text-align: center;
}

  